
<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>LigsiteCS</title>

<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
<style>
	.viewer_wrapper {
		font-family: Helvetica;
		background-color: #f0f0f0;
		font-weight: lighter;
		margin: 0px;
		width:100%;
		height:100%;
	}
	.viewer_wrapper a {
		color:#393;
	}
	#gl {
		position:fixed;
		bottom:0px;
		top:0px;
		left:0px;
		right:0px;
	}
	#inspector {
		top:10px;
		left:10px;
		box-shadow: 2px 2px 5px #888888;
		border-radius:8px;
		position:absolute;
		background-color:#fafafa;
		padding:10px;
		border-style:solid;
		border-width:1px;
		border-color:#ccc;
	}

	#inspector ul {
		padding:0px;
	}

	#inspector ul li {
		margin-left:5px;
		margin-right:5px;
		margin-bottom:5px;
		list-style:none;
		cursor: pointer;
		color:#393
	}

	#inspector ul li:hover {
		color:#994444;
	}
	#inspector h1 {
		font-weight:normal;
		font-size:12pt;
	}
</style>
</head>


<div class = "viewer_wrapper">

	<div id="gl">
		<div id="inspector">
			<h1>Ligsite</h1>
			<ul>
				<li id="view_prot">View examined protein</li>
				<li id="view_best">View 3 best LBS's</li>
				<li id="view_clusters">View all clusters LBS's</li>
				<li id="view_all">View all candidate grid points</li>
			</ul>

			<h1>PASS</h1>
			<ul>
				<li id="view_PASS_asps">ASPS</li>
				<li id="view_PASS_lig1">Lig1</li>
				<li id="view_PASS_lig2">Lig2</li>
				<li id="view_PASS_lig3">Lig3</li>
				<li id="view_PASS_probes">Probes</li>
			</ul>
			<div id="status"></div>
		</div>
	</div>



	<script src="/static/pv.min.js"></script>
	<script>

		var settings = { 
			quality : 'high', 
			width: 'auto', 
			height : 'auto',
			antialias : true, 
			outline : false,
			background: '#f0f0f0'
		};
		var parent = document.getElementById('gl');
		var viewer = pv.Viewer(parent, settings);	
		var structure


		var info = {
			dataTypes : {					
				protein : {
					id: 'protein',
					fileName: '{{name}}',
					displayMode: 'ballsAndSticks',
					visible: false
				},

				all : {
					id: 'all',
					fileName: '{{name}}_all',
					displayMode: 'spheres',
					visible: false
				},

				clusters : {
					id: 'clusters',
					fileName: '{{name}}_clusters',
					displayMode: 'spheres',
					visible: false
				},

				best : {
					id: 'best',
					fileName: '{{name}}_best',
					displayMode: 'spheres',
					visible: false
				},

				// PASS

				ASPS : {
					id: 'ASPS',
					fileName: '{{name}}_asps',
					displayMode: 'spheres',
					visible: false
				},

				Lig1 : {
					id: 'Lig1',
					fileName: '{{name}}_lig1',
					displayMode: 'spheres',
					visible: false
				},

				Lig2 : {
					id: 'Lig2',
					fileName: '{{name}}_lig2',
					displayMode: 'spheres',
					visible: false
				},

				Lig3 : {
					id: 'Lig3',
					fileName: '{{name}}_lig3',
					displayMode: 'spheres',
					visible: false
				},

				Probes : {
					id: 'Probes',
					fileName: '{{name}}_probes',
					displayMode: 'spheres',
					visible: false
				}
			},

			behaviors : {
				toggle : function(dataType) {
					if (dataType.visible)
						viewer.rm(dataType.id);
					else  {						
						viewer.renderAs(dataType.id, structure, dataType.displayMode);
					}
						viewer.forEach(function(atom) {atom.setOpacity(0.9);});
						//viewer.get('protein').setOpacity(1.0);
					viewer.requestRedraw();
					dataType.visible = !dataType.visible;
				},

				override : function(dataType) {
					viewer.rm("*");
					viewer.clear();
					viewer.renderAs(dataType.id, structure, dataType.displayMode); 					
				}
			}
		};   	

		function load(dataType, finalizer, behavior = 'toggle') {
			document.getElementById('status').innerHTML ='loading '+info.dataTypes[dataType].fileName;
			var xhr = new XMLHttpRequest();
			xhr.open('GET', '/static/pdbs/'+info.dataTypes[dataType].fileName+'.pdb');
			xhr.setRequestHeader('Content-type', 'application/x-pdb');
			xhr.onreadystatechange = function() {
				if (xhr.readyState == 4) {
					structure = pv.io.pdb(xhr.responseText);     						
					info.behaviors[behavior](info.dataTypes[dataType]);
					if (typeof finalizer !== 'undefined')
						finalizer();
				}
				document.getElementById('status').innerHTML = '';
			}
			xhr.send();
		};

		document.getElementById('view_prot').onclick = function(){load('protein');};
		document.getElementById('view_best').onclick = function(){load('best');};
		document.getElementById('view_clusters').onclick = function(){load('clusters');};
		document.getElementById('view_all').onclick = function(){load('all');};


		document.getElementById('view_PASS_asps').onclick = function(){load('ASPS');};
		document.getElementById('view_PASS_lig1').onclick = function(){load('Lig1');};
		document.getElementById('view_PASS_lig2').onclick = function(){load('Lig2');};
		document.getElementById('view_PASS_lig3').onclick = function(){load('Lig3');};
		document.getElementById('view_PASS_probes').onclick = function(){load('Probes');};

		window.onresize = function(event) {
			viewer.fitParent();
		};

		function init () {
			load('protein', function(){
				viewer.centerOn(structure);
				viewer.autoZoom();
			});
		};

		document.addEventListener('DOMContentLoaded',  function(){
			init();	
		});



	</script>

</div>